@font-face {
	font-family: Grandstander;
	src: url(../gfonts/Grandstander-VariableFont_wght.ttf);
}
@font-face {
	font-family: Originals;
	src: url(../gfonts/OriginalSurfer-Regular.ttf);
}
@font-face {
	font-family: Jomhuria;
	src: url(../gfonts/Jomhuria-Regular.ttf);
}
@font-face {
	font-family: Pacifico;
	src: url(../gfonts/Pacifico-Regular.ttf);
}
/*variables*/
/*global css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 3rem;
  background: rgba(184, 227, 232, 0.878);
}
#intro {
  margin-bottom: 10rem;
}
#cusHeader {
  position: relative;
  height: 85vh;
  background-image: linear-gradient(to right, rgba(112, 6, 6, 0.597), rgba(112, 6, 6, 0.97)),
  url(../images/bgs/controller5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  margin-top: .5rem;
}
.heading {
  padding: 3rem;
  position: absolute;
  color: rgb(226, 230, 233);
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Pacifico', sans-serif;

}
.heading-main {
  display: block;
}
.heading-primary {
  display: block;
}
#customer-prev {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  padding: 2rem;
  color: rgb(109, 216, 216);
  font-weight: bold;
}

#sec {
  margin-top: 10rem;
}
.recent-games {

}
.section-heading {
  font-family: 'Originals', sans-serif;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

.customer-footer {
  width: 100%;
  background: rgb(28, 11, 11);
  color: #fff;
  margin-top: 2rem;
  padding: 1.2rem;
  text-align: center;
}